:root {
  --color-blue: #5BC4E8;
  --color-green: #7ED957;
  --color-orange: #FF8C42;
  --color-purple: #9B6DFF;
  --color-white: #FFFFFF;
  --color-gray-bg: #E8EDF2;
  --color-text: #1A1A1A;
  --color-text-light: #666666;

  --font-bricolage-grotesque: var(--bricolage-grotesque), sans-serif;
  --font-noto-sans-jp: var(--noto-sans-jp), sans-serif;
  --font-dm-sans: var(--dm-sans), sans-serif;
}

body {
  background: var(--color-white);
  font-family: var(--font-noto-sans-jp)
}